### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Игнорируем файлы IDE IntelliJ IDEA
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
hello.java.iml

# Дополнительно можно добавить общие правила для IDEA
../.idea/*
*.iml
.idea/

